<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appiedi.jammbell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JammBell">
        <activity android:name="com.appiedi.jammbell.ResoContochallengeActivity"></activity>
        <activity android:name="com.appiedi.jammbell.RiepilogoSessioneVeloceActivity" />
        <activity android:name="com.appiedi.jammbell.SessioneVeloceActivity" />
        <activity android:name="com.appiedi.jammbell.RegistrazioneProfiloActivity" />
        <activity android:name="com.appiedi.jammbell.SessioneGuidataActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQvYoNgwlYUI_l2x0o_2erqheupWUxcqU" />

        <activity android:name="com.appiedi.jammbell.Main2Activity" />
        <activity android:name="com.appiedi.jammbell.SignupActivity" />
        <activity android:name="com.appiedi.jammbell.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>